body {
    background-color: #e5e5e5;
    
}

.cards-container {
    padding: 10px;
    margin: 3em;
}

.card-styling {
    padding: 20px;
    margin: 30px;
}

.spacer {
    background-color: #333;
    padding: 3px;
    margin: 0px;
    width: 101%
}

.user-welcome {
    font-size: 1.5em;
    font-weight: bold;
}
